# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
# Ignore Gradle compiler temp directory
bin
SEQNO
.classpath
.gradle
.project
.settings
.attach_pid*
# Ignore test templete resource
src/main/resources/rateprtservice.xml
# Ignore Ant compile build file
build.xml
