# Ignore Gradle project-specific cache directory
.gradle
*.class
# Ignore Gradle build output directory
build
# Ignore Gradle compiler temp directory
bin/
SEQNO/
.classpath
.project
.settings
.attach_pid*
# Ignore test templete resource
src/main/resources/rateprtservice.xml
# Ignore Ant compile build file
build.xml
